
.up{
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 10px;
}
.right{
    margin-left: 20px;

}
.left{
    margin-left: 8px;
}
.down{
    margin-left: 35px;
    margin-top: 10px;
}
button{
    font-weight: bold;
}